<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Option Chart</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	
	<link rel="stylesheet" href="./style.css">

	<script src="options.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	
	<script src="/app.js"></script>
	<script src="./clickEdit.js"></script>
	
</head>
<body ng-app="optionChart" ng-controller="inputCtrl">
	<p>This is an paragraph.</p>
	<p>{{data.portfolio.positions[0].assetClass }}</p>


	<div class="input-container clearfix" >
		<h3>Add <span>{{assetClass}}</span></h3>
		<form role="form" class="clearfix">

			<div class="form-group col-sm-2" >
		    	<label for="assetClass">Asset Class</label>
		    	<select name="assetClass" 
		    	id="assetClassInput" 
		    	class="form-control" 
		    	ng-model="assetClass"
		    	ng-options="name for name in assetClassSelects">
		    	</select>
		    </div>

		    <div class="form-group col-sm-2">
		    	<label for="exampleInputPassword1">Long or Short</label>
		    	<select name="longShort" 
		    	id="longShortInput" 
		    	class="form-control" 
		    	ng-model="longShort"
		    	ng-options="name for name in longShortSelects">
		    	</select>
		    </div>

			<div class="form-group col-sm-2" ng-show="assetClass=='option'">
			    <label for="exampleInputPassword1">Call or Put</label>
			    <select name="callput" 
			    id="callPutInput" 
			    class="form-control" 
			    ng-model="callPut"
			    ng-options="name for name in callPutSelects">
			    </select>
			</div>

		    <div class="form-group col-sm-2" ng-show="assetClass=='option'">
		        <label for="strikePrice">Strike Price</label>
		        <input type="text" ng-model="strikePrice" 
		    	class="form-control"
		    	id="strikePrice" 
		    	placeholder="Strike Price">
		    </div>

		  	<div class="form-group col-sm-2" ng-show="assetClass=='future'">
		    	<label for="strikePrice">Deal Price</label>
		    	<input type="text" ng-model="dealPrice" 
		    	class="form-control"
		    	id="dealPrice" 
		    	placeholder="Deal Price">
		    </div>

			<div class="form-group col-sm-2" ng-show="assetClass=='option'">
			    <label for="premium">Option Premium</label>
			    <input type="text" ng-model="premium" 
			    class="form-control"
			    id="premium" 
			    placeholder="Premium">
			</div>

		    <div class="form-group col-sm-2">
		    	<label for="premium">Expire Month</label>
		    	<select name="expire" 
		    	id="expire" 
		    	class="form-control" 
		    	ng-model="expire"
		    	ng-options="name for name in expireSelects">
		    	</select>
		    </div>

		    <div class="form-group col-sm-2">
		    	<label for="comission">Comission</label>
		    	<input type="text" ng-model="comission" 
		    	class="form-control"
		    	id="comission" 
		    	placeholder="Comission">		
		    </div>

		    <div class="form-group col-sm-2">
		    	<label for="multiplier">Multiplier</label>
		    	<input type="text" 
		    	ng-model="multiplier" 
		    	class="form-control"
		    	id="multiplier" 
		    	placeholder="Multiplier">		
		    </div>

		    <div class="form-group col-sm-2 ">
		    	<label for="contractNumber">No. Contract</label>
		    	<input type="text" 
		    	ng-model="contractNumber" 
		    	class="form-control"
		    	id="contractNumber" 
		    	placeholder="Number of Contracts">		
		  	</div>
		</form>
	  	<div class="form-group col-sm-2">
			<button type="submit" class="btn btn-primary" 
		  	ng-click="addPortfolio()">Add</button>

		  	<button class="btn btn-danger" 
		  	ng-click="plot()">Plot</button>
	  	</div>	
		

		

		
	</div>
	<br>

	<div class="portfolio-container bs-example clearfix">
		<h4>Options</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Long/Short</th>
					<th>CALL/PUT</th>
					<th>Strike Price</th>
					<th>No. Contract</th>
					<th>Premium</th>
					<th>Comission</th>
					<th>Expire</th>
					<th>Delete</th>

				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="position in data.portfolio.positions" 
				ng-if="position.instrument.assetClass=='option'">
					<td>
						<span class="relative" click-edit="select" 
						select-data="longShortSelects">
							{{position.instrument.longShort}}
						</span>
					</td>										
					<td>
						<span class="relative" click-edit="select" 
						select-data="callPutSelects">
							{{position.instrument.callPut}}
						</span>
					</td>
					<td>
						<span class="relative" click-edit="text">
							{{position.instrument.strikePrice}}
						</span>
					</td>
					<td >
						<span class="relative" click-edit="text" append="contract(s)">
							{{position.number}} contract(s)
						</span>
					</td>
					<td>
						<span class="relative" click-edit="text">
							{{position.instrument.premium}}
						</span>
					</td>
					<td>
						<span class="relative" click-edit="text">
							{{position.instrument.comission}}
						</span>
					</td>
					<td>
						<span class="relative" click-edit="select" select-data="expireSelects">
							{{position.instrument.expire}}
						</span>
					</td>
					<td>
						<a href="javascript:;" ng-click="removePosition($index)">
							<span class="glyphicon glyphicon-remove" >
							</span>
						</a>
					</td>
				</tr>

			</tbody>
		</table>
		<br>
		<h4>Futures</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th>Long/Short</th>
					<th>Price</th>
					<th>No. Contract</th>

					<th>Comission</th>
					<th>Expire</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="position in data.portfolio.positions" 
				ng-if="position.instrument.assetClass=='future'">

					<td><span>{{position.instrument.longShort}}</span></td>
					<td><span>{{position.instrument.dealPrice}}</span></td>
					<td>{{position.number}} contract(s)</td>
					<td>{{position.instrument.comission}}</td>
					<td>{{position.instrument.expire}}</td>
					<td><a href="javascript:;" ng-click="removePosition($index)"><span class="glyphicon glyphicon-remove" ></span></a></td>
					
					
				</tr>

			</tbody>
		</table>		

	</div>




	

	<!-- <script type="text/javascript" src="d3-app.js"></script>
	 -->

	<!--  <script type="text/javascript" src="d3-treeLayout.js"></script>
	 -->
	 <script src="bower_components/d3/d3.min.js"></script>

</body>
</html>